.container{
    display: flex;
    justify-content: center;
    .item_container{
        display: grid;
        justify-items: center;
        .item{
            display: grid;
            padding: 0.625rem;
            border-radius: 40px;
            background-color: #EBE6DB;
            overflow: hidden;
            height: max-content;
            cursor: pointer;
            img{
                border-radius: 30px;
                width: 100%;
                object-fit: cover;
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 0.5rem;
                .title{
                    h3 {
                        font-weight: bolder;
                        line-height: 95%;   
                    }
                }
                .rate {
                    span{
                        font-weight: bold;
                    }
                }
                .desc{
                    line-height: 85%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis; 
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-top: 6rem;
        .item_container{
            gap: 0.5rem;
            width: 98vw;
            .item{
                grid-template-columns: repeat(2, 50%);
                font-size: 0.75rem;
                img{
                    height: 10rem;
                }
                .info{
                    .title{
                        h3 {
                            font-size: 1.25rem;
                            margin-bottom: 0.25rem;
                        }
                    }
                    .rate {
                        span{
                            font-size: 1rem;
                        }
                    }
                    .rent {
                        font-size: 1rem;
                    }
                    .desc{
                        -webkit-line-clamp: 4; 
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .container{
        padding-top: 8rem;
        .item_container{
            width: 95vw;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            max-width: 820px;
            .item{
                max-width: 380px;
                grid-template-rows: repeat(2, auto);
                font-size: 1rem;
                    img{
                        height: 18rem;
                    }
                .info{
                    gap: 0.25rem;
                    padding:0.625rem 0 0.75rem;
                    .title{
                        padding-bottom: 0.25rem;
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                    .rate {
                        padding-bottom: 0.25rem;
                        span{
                            font-size: 1.25rem;
                        }
                    }
                    .rent{
                        font-size: 1.25rem;
                    }
                    .desc{
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .container{
        flex-direction: column;
        align-items: center;
        .item_container{
            width: 90vw;
            max-width: none;
            .item{
                grid-template-columns: 40% 60%;
                font-size: 1rem;
                max-width: none;
                max-height: 260px;
                    img{
                        height: 100%;
                        max-height: 240px;
                    }
                .info{
                    gap: 0.25rem;
                    padding: 0 0.625rem;
                    justify-content: flex-start;
                    max-height: 240px;
                    .title{
                        padding-bottom: 0.5rem;
                        h3 {
                            font-size: 2rem;
                            padding-bottom: 0.25rem;
                        }
                    }
                    .rate {
                        padding-bottom: 0.5rem;
                        span{
                            font-size: 1.5rem;
                        }
                    }
                    .rent{
                        font-size: 1.5rem;
                        padding-bottom: 0.25rem;
                    }
                    .desc{
                        -webkit-line-clamp: 6;
                        
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .container{
        .item_container{
            max-width: 81rem;
        }
    }
}