.container{
    padding: 4.5rem 2rem;
    .title {
        font-size: var(--heading-1);
        letter-spacing: -2px;
        line-height: 100%;
        margin-bottom: var(--space-md);
        span {
            font-family: "News Cycle", sans-serif;
        }
    }
    .item_container{
        display: grid;
        gap: 10px;
        width: 100%;
        .item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--black-color);
            cursor: pointer;
            img{
                aspect-ratio: 1/1;
                height: auto;
                width: 100%;
            }
            h3{
                font-size: var(--heading-3);
                font-weight: 600;
                color: var(--body-color);
                margin-bottom: var(--space-xs);
                line-height: 100%;
                padding: var(--space-2xs) var(--space-2xs) 0;
            }
            .content{
                display: flex;
                justify-content: space-between;
                padding: 0 var(--space-2xs) var(--space-2xs);

                .rate {
                    font-size: var(--text-base);
                    color: var(--body-color);
                    span{
                        font-size: var(--text-base--large);
                        font-weight: bold;
                    }
                }
                .button{
                    border-radius: 5px;
                    color: var(--black-color);
                    font-size: var(--text-base--small);
                    background-color: var(--body-color);
                    padding: 5px 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .container{
        .item_container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    .container{
        .item_container{
            gap: 15px;
            grid-template-columns: repeat(3, 1fr);
            .item{
                h3{
                    font-size: var(--heading-4); 
                }
            }
        }
    }
}

@media screen and (min-width: 1567px) {
    .container{
        padding: 4.5rem 4rem;
        .item_container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}